div {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    text-align: center;
    grid-column: span 1;
}
h1{
    text-align: center;
}
p{
    grid-area: txt-area;
}
#sudukoPuzzle {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto 33% auto;
   
}
#puzzle {
    display: grid;
    grid-template-columns:auto auto auto ; 
   
}
.square {
    display: grid;
    grid-template-columns: auto auto auto;
    
    border: 3px solid black;
    
}
.cell {
    border: 1px solid darkslategrey;
    padding: 5px;
}

input {
    height: 15px;
    width: 30px;
}
.txt{
    display: grid;
    grid-template-areas: 'txt-area txt-area txt-area';
    gap: 5px;
   padding: 5px;
   min-width: 300px;
}
